In [10]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4,suppress=True)

In [11]:
import numpy as np
data = {i : np.random.randn() for i in range(10)}
data

{0: -0.20470765948471295,
 1: 0.47894333805754824,
 2: -0.5194387150567381,
 3: -0.55573030434749,
 4: 1.9657805725027142,
 5: 1.3934058329729904,
 6: 0.09290787674371767,
 7: 0.2817461528302025,
 8: 0.7690225676118387,
 9: 1.2464347363862822}

In [13]:
b = [1,2,3]
b?

In [14]:
print?

In [15]:
def add(a,b):
    return a+b
add?

In [16]:
add??

In [17]:
def f(x,y,z):
    return (x+y)/z
a = 5
b = 6
c = 44
result = f(a,b,c)

In [18]:
result

0.25

In [19]:
a = np.random.randn(100,100)
%timeit np.dot(a,a)

68.9 µs ± 8.62 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [20]:
%debug?

In [22]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [23]:
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
a = 5; b = 6; c = 7

NameError: name 'array' is not defined

In [24]:
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    
    results.append(line.replace('foo', 'bar'))
print("Reached this line")

NameError: name 'file_handle' is not defined

In [25]:
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [26]:
def append_element(some_list, element):
    some_list.append(element)
data = [2,3,4]
append_element(data,5)
data

[2, 3, 4, 5]

In [27]:
a = 5
type(a)
a = 'qqq'
type(a)

str

In [28]:
a = 3.2
b = 2
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

1.6

In [29]:
a = 5
isinstance(a, int)

True

In [30]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [31]:
a = 'aaa'
a.<Press Tab>

SyntaxError: invalid syntax (<ipython-input-31-bfb038cff813>, line 2)

In [33]:
a = 'foo'
getattr(a, 'split')

In [34]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False
isiterable('ewweew')
isiterable([1, 2, 3])
isiterable(5)

False

In [35]:
5 - 7
12 + 21.5
5 <= 2

False

In [36]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [37]:
a == c

True

In [38]:
a = None
a is None

True

In [40]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [42]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [43]:
fval = 7.243
fval2 = 6.78e-5

In [44]:
3 / 2

1.5

In [45]:
3 // 2

1

In [46]:
c = """
asfasfasfsd
"""

In [47]:
c.count('\n')

2

In [48]:
a = 'this is a string'
a[10] = 'f'
b = a.replace('string', 'longer string')
b

TypeError: 'str' object does not support item assignment

In [49]:
a

'this is a string'

In [50]:
a = 5.6
s = str(a)
s

'5.6'

In [51]:
s = 'python'
list(s)
s[:3]

'pyt'

In [52]:
s = '12\\34'
print(s)

12\34

In [53]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [54]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [55]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [56]:
val = "español"
val

'español'

In [57]:
val_utf8 = val.encode('utf-8')
val_utf8
type(val_utf8)

bytes

In [58]:
val.encode('latin1')
val.encode('utf-16')
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [59]:
True and True
False or True

True

In [60]:
s = '3.14159'
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [61]:
a = None
a is None
b = 5
b is not None

True

In [62]:
from datetime import datetime, date, time
dt = datetime(2019, 2, 20, 20, 30, 21)
dt.day
dt.minute

30

In [63]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [64]:
dt.strftime('%m/%d/%Y %H:%M')

'02/20/2019 20:30'

In [65]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [66]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [67]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [68]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [69]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [71]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'